<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>pages</key>
		<integer>1</integer>
		<key>rows</key>
		<array>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30</string>
				<key>longitude</key>
				<string>120</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30</string>
				<key>longitude</key>
				<string>120.123</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30.12343</string>
				<key>longitude</key>
				<string>120</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30.12321321</string>
				<key>longitude</key>
				<string>120.23432</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30.341231</string>
				<key>longitude</key>
				<string>120.32321</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30.0124213</string>
				<key>longitude</key>
				<string>120.021323</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shopName</key>
				<string>李四的唐嫣糖酒</string>
				<key>totalShopN</key>
				<string>大周帝国批发零售总商</string>
				<key>shopId</key>
				<integer>12342</integer>
				<key>targetAddr</key>
				<string>地球银河系太阳系地球村中国地杭州窝小小地</string>
				<key>collectMoney</key>
				<integer>0</integer>
				<key>orderId</key>
				<integer>52343</integer>
				<key>shopPhone</key>
				<integer>123213897</integer>
				<key>totalMoney</key>
				<integer>12312</integer>
				<key>latitude</key>
				<string>30.12343221</string>
				<key>longitude</key>
				<string>120.21213</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsName</key>
						<string>南孚电池</string>
						<key>goodsDesc</key>
						<string>五环能量锁能量</string>
						<key>categoryName</key>
						<string>5号电池</string>
						<key>unit</key>
						<string>捆</string>
						<key>price</key>
						<integer>12312</integer>
						<key>goodsNum</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
