<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>pages</key>
		<integer>1</integer>
		<key>rows</key>
		<array>
			<dict>
				<key>taskId</key>
				<integer>123123</integer>
				<key>lineName</key>
				<string>西湖线七号</string>
				<key>goodsName</key>
				<string>超威电池哇啦</string>
				<key>status</key>
				<integer>0</integer>
				<key>shopName</key>
				<string>太阳神店</string>
				<key>targetAddr</key>
				<string>太阳行宫</string>
				<key>currentTime</key>
				<integer>1491791093</integer>
				<key>category</key>
				<array>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>taskId</key>
				<integer>123123</integer>
				<key>lineName</key>
				<string>西湖线七号</string>
				<key>goodsName</key>
				<string>超威电池哇啦</string>
				<key>status</key>
				<integer>0</integer>
				<key>shopName</key>
				<string>太阳神店</string>
				<key>targetAddr</key>
				<string>太阳行宫</string>
				<key>currentTime</key>
				<integer>1491791093</integer>
				<key>category</key>
				<array>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>taskId</key>
				<integer>123123</integer>
				<key>lineName</key>
				<string>西湖线七号</string>
				<key>goodsName</key>
				<string>超威电池哇啦</string>
				<key>status</key>
				<integer>0</integer>
				<key>shopName</key>
				<string>太阳神店</string>
				<key>targetAddr</key>
				<string>太阳行宫</string>
				<key>currentTime</key>
				<integer>1491791093</integer>
				<key>category</key>
				<array>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>taskId</key>
				<integer>123123</integer>
				<key>lineName</key>
				<string>西湖线七号</string>
				<key>goodsName</key>
				<string>超威电池哇啦</string>
				<key>status</key>
				<integer>0</integer>
				<key>shopName</key>
				<string>太阳神店</string>
				<key>targetAddr</key>
				<string>太阳行宫</string>
				<key>currentTime</key>
				<integer>1491791093</integer>
				<key>category</key>
				<array>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>taskId</key>
				<integer>123123</integer>
				<key>lineName</key>
				<string>西湖线七号</string>
				<key>goodsName</key>
				<string>超威电池哇啦</string>
				<key>status</key>
				<integer>0</integer>
				<key>shopName</key>
				<string>太阳神店</string>
				<key>targetAddr</key>
				<string>太阳行宫</string>
				<key>currentTime</key>
				<integer>1491791093</integer>
				<key>category</key>
				<array>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>taskId</key>
				<integer>123123</integer>
				<key>lineName</key>
				<string>西湖线七号</string>
				<key>goodsName</key>
				<string>超威电池哇啦</string>
				<key>status</key>
				<integer>0</integer>
				<key>shopName</key>
				<string>太阳神店</string>
				<key>targetAddr</key>
				<string>太阳行宫</string>
				<key>currentTime</key>
				<integer>1491791093</integer>
				<key>category</key>
				<array>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>categoryId</key>
						<integer>23241</integer>
						<key>unit</key>
						<string>箱</string>
						<key>goodsTotal</key>
						<integer>9</integer>
						<key>goods</key>
						<array>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
							<dict>
								<key>goodsId</key>
								<integer>1212321</integer>
								<key>goodsNum</key>
								<integer>2</integer>
								<key>goodsName</key>
								<string>锂电池电池包</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
