<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>pages</key>
		<string>1</string>
		<key>rows</key>
		<array>
			<dict>
				<key>categoryId</key>
				<integer>222</integer>
				<key>unit</key>
				<string>箱</string>
				<key>goodsTotal</key>
				<string>12</string>
				<key>wayCategoryName</key>
				<string>SKU</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsNum</key>
						<integer>11</integer>
						<key>goodsName</key>
						<string>白菜</string>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsNum</key>
						<integer>11</integer>
						<key>goodsName</key>
						<string>白菜</string>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsNum</key>
						<integer>11</integer>
						<key>goodsName</key>
						<string>奶粉</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>categoryId</key>
				<integer>222</integer>
				<key>unit</key>
				<string>只</string>
				<key>goodsTotal</key>
				<string>12</string>
				<key>wayCategoryName</key>
				<string>SKU</string>
				<key>goods</key>
				<array>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsNum</key>
						<integer>11</integer>
						<key>goodsName</key>
						<string>白菜</string>
					</dict>
					<dict>
						<key>goodsId</key>
						<integer>123123</integer>
						<key>goodsNum</key>
						<integer>11</integer>
						<key>goodsName</key>
						<string>奶粉</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
