<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>pages</key>
		<string>1</string>
		<key>rows</key>
		<array>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线一</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街专卖125号</string>
				<key>orderNum</key>
				<string>西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一西湖线一</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>30.257851</real>
				<key>longitude</key>
				<string>120.185839</string>
			</dict>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线二</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街摸商业行专卖店4-125号西湖区古墩路莲花街摸商业行专卖店4-125号西湖区古墩路莲花街摸商业行专卖店4-125号西湖区古墩路莲花街摸商业行专卖店4-125号</string>
				<key>orderNum</key>
				<string>西湖线二西湖线二</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>30.257851</real>
				<key>longitude</key>
				<string>121.185839</string>
			</dict>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线三</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>orderNum</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>31.257851</real>
				<key>longitude</key>
				<string>120.185839</string>
			</dict>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线四</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>orderNum</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>30.237851</real>
				<key>longitude</key>
				<string>120.115839</string>
			</dict>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线五</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>orderNum</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>30.157851</real>
				<key>longitude</key>
				<string>120.185239</string>
			</dict>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线六</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>orderNum</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>30.297851</real>
				<key>longitude</key>
				<string>120.685839</string>
			</dict>
			<dict>
				<key>tasksId</key>
				<integer>1234567654321</integer>
				<key>lineId</key>
				<integer>1232123</integer>
				<key>lineName</key>
				<string>西湖线七</string>
				<key>startAddr</key>
				<string>西湖区古墩路莲花街摸摸摸摸摸摸摸摸摸摸摸商业行专卖店4-125号</string>
				<key>orderNum</key>
				<string>西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七西湖线七</string>
				<key>merchantNum</key>
				<integer>15</integer>
				<key>taskDetail</key>
				<integer>15</integer>
				<key>expectTime</key>
				<integer>1312312312</integer>
				<key>nuclearStatus</key>
				<integer>0</integer>
				<key>latitude</key>
				<real>30.251851</real>
				<key>longitude</key>
				<string>120.985839</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
